:root {
    --h1-color: #b85c20;
    --bg-color: #e0e0e0;
    --container-bg: #f0f0f0;
    --box-border: #bcbcbc;
    --text-color: #333333;
    --input-bg: #f4f4f4;
    --input-border: #cccccc;
    --button-bg: #f7941e;
    --button-text: #ffffff;
    --toast-bg: #333333;
    --toast-text: #ffffff;
    --button-start-color: #f7941e;
    --button-end-color: #ffd38064;
    --toast-shadow-color: #333333;
    --success-shadow-color: #4caf50;
    --error-shadow-color: #f44336;
    --other-shadow-color: #f49b55;
    --select-arrow: url("/images/select_icon_light_mode.png");
}

[data-theme="dark"] {
    --h1-color: #f49b55;
    --bg-color: #2a2d2f;
    --container-bg: #1f2122;
    --box-border: #282b2d;
    --text-color: #ffffff;
    --input-bg: #282b2d;
    --input-border: #3d4144;
    --button-bg: #f7941e;
    --button-text: #333333;
    --toast-bg: #f0f0f0;
    --toast-text: #333333;
    --button-start-color: #f7941e;
    --button-end-color: #b86600;
    --select-arrow: url("/images/select_icon_dark_mode.png");

    ::-ms-reveal {
        filter: invert(100%);
    }
}

[data-lang="he"] {
    direction: rtl;
    text-align: right;

    .container_he {
        display: initial;
    }

    .container_en {
        display: none;
    }

        [id^="remove_course_button"] {
        margin-left: 0rem;
        margin-right: 0.2rem;
    }
}

[data-lang="en"] {
    direction: ltr;
    text-align: left;

    .container_he {
        display: none;
    }

    .container_en {
        display: initial;
    }

        [id^="remove_course_button"] {
        margin-left: 0.2rem;
        margin-right: 0rem;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--container-bg);
    border-radius: 8px;
    border: solid var(--box-border) 1px;
    box-shadow: 0 0 5px var(--box-border);
    position: relative;
    padding-bottom: 2rem;
}

h1 {
    color: var(--h1-color);
    text-align: center;
    margin-bottom: 1.5rem;
    transition: transform 1s;
}

h1:hover {
    transform: rotate(360deg);
    transition-delay: 0.5s;
    /* filter: hue-rotate(180deg); */
}

.form_group {
    font-size: small;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    font-size: medium;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--text-color);
    box-sizing: border-box;
    height: 36px;
}

select {
    font-size: medium;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--text-color);
    box-sizing: border-box;
    height: 36px;
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--button-bg);
}

input:hover,
select:hover {
    opacity: 0.9;
    filter: brightness(99%);
}

[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.3s;
}

[type="submit"]:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

#forgot_password {
    text-align: left;
    color: var(--h1-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    margin-bottom: 1.5rem;
}

#forgot_password:hover {
    text-decoration: underline;
}

[type="submit"]:hover {
    opacity: 0.9;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--container-bg);
    border: 1px solid var(--box-border);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 0 5px var(--toast-shadow-color), inset 0 1px 1px rgba(255, 255, 255, 0.1);
    transform-origin: bottom center;
    transform: translateX(-50%) translateY(10px);
}

.toast.show {
    opacity: 1;
}

[id^="remove_course_button"],
#add_course_button {
    padding: 0.5rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    height: 36px;
    margin-bottom: 0%;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_course_button:disabled {
    display: none;
    width: 0;
    padding: 0;
    border: none;
    font-size: 0;
}

[id^="remove_course_button"]:hover,
#add_course_button:hover {
    opacity: 0.9;
}

[id^="remove_course_button"]:active,
#add_course_button:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

#saved_courses_label {
    font-size: medium;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 100%;
}

#courses_form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    justify-content: space-between;
    gap: 0;
}

.course_line {
    display: flex;
    width: 100%;
}

.disclaimer {
    font-size: small;
    color: var(--h1-color);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--h1-color);
    margin-top: 1rem;
    border-bottom: 1px solid var(--h1-color);
}

#courses_fieldset {
    border: var(--input-border) 2px solid;
    border-radius: 8px;
}

#courses_fieldset legend {
    font-size: small;
    text-align: center;
}

.toggle_switch {
    position: relative;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.toggle_switch input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-border);
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 0 10px var(--input-border);
    z-index: 1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--button-bg);
    box-shadow: 0 0 10px var(--button-bg);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch_label {
    flex: 1;
}

#remove_icon {
    fill: currentColor;
    width: 20px;
    color: var(--button-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.course_label:first-child {
    margin-top: 0;
}

#add_course_name_label{
    margin-top: 0.5rem;
    display: none;
}

#add_course_name{
    display: none;
}
